<style>
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #ffffff;
        opacity: 0.5;
    }

    .popup {
        position: fixed;
        width: 946px;
        height: 675px;
        left: 0;
        top: 0;
        background-color: #f8f8f8;
        z-index: 1001;
    }
</style>
<div class="overlay" [style.width]="overlayWidth" [style.height]="overlayHeight"></div>
<div class="popup" [style.left]="styleLeft" [style.top]="styleTop">

{{ 'bebebe' | translation }}
<div style="font-weight: bold;font-size: 15px;">Canton status: {{ (hoveredCanton && hoveredCanton.inactive) ? 'Inactive' : '' }}</div>
<div style="font-weight: bold;font-size: 15px;">{{hoveredCanton ? hoveredCanton.label : (selectedCanton ? selectedCanton.label : '')}}</div>
<svg version="1.1" data-id="all" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="948px" height="648px" viewBox="0 0 948 648" enable-background="new 0 0 948 648" xml:space="preserve">
	<g myCanton [canton]="cantons[0]"></g>
	<g myCanton [canton]="cantons[1]"></g>
	<g myCanton [canton]="cantons[2]"></g>
	<g myCanton [canton]="cantons[3]"></g>
	<g myCanton [canton]="cantons[4]"></g>
	<g myCanton [canton]="cantons[5]"></g>
	<g myCanton [canton]="cantons[6]"></g>
	<g myCanton [canton]="cantons[7]"></g>
	<g myCanton [canton]="cantons[8]"></g>
	<g myCanton [canton]="cantons[9]"></g>
	<g myCanton [canton]="cantons[10]"></g>
	<g myCanton [canton]="cantons[11]"></g>
	<g myCanton [canton]="cantons[12]"></g>
	<g myCanton [canton]="cantons[13]"></g>
	<g myCanton [canton]="cantons[14]"></g>
	<g myCanton [canton]="cantons[15]"></g>
	<g myCanton [canton]="cantons[16]"></g>
	<g myCanton [canton]="cantons[17]"></g>
	<g myCanton [canton]="cantons[18]"></g>
	<g myCanton [canton]="cantons[19]"></g>
	<g myCanton [canton]="cantons[20]"></g>
	<g myCanton [canton]="cantons[21]"></g>
	<g myCanton [canton]="cantons[22]"></g>
	<g myCanton [canton]="cantons[23]"></g>
	<g myCanton [canton]="cantons[24]"></g>
	<g myCanton [canton]="cantons[25]"></g>
	</svg>

	<div (click)="onOkClick()">Ok</div>
	<div (click)="onCancelClick()">Cancel</div>

</div>