<div>
    <span [ngClass]="{allowed: this.indexedDays[this.day] && this.indexedDays[this.day].prev}" (click)="toPrevDay()">
        <span *ngIf="showArrowText">Prev</span>&lt;&lt;
    </span>
    <span>{{ indexedDays[day] ? indexedDays[day].original.label : '' }}</span>
    <span [ngClass]="{allowed: this.indexedDays[this.day] && this.indexedDays[this.day].next}" (click)="toNextDay()">
        <span *ngIf="showArrowText">Next</span>&gt;&gt;
    </span>
</div>
<style>
    .allowed {
        color: green;
    }
</style>