<style>
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #ffffff;
        opacity: 0.5;
    }

    .popup {
        position: fixed;
        left: 0;
        top: 0;
        background-color: #f8f8f8;
        z-index: 1001;
    }
</style>
<div class="overlay" *ngIf="popup" [style.width]="overlayWidth" [style.height]="overlayHeight"></div>
<div class="popup" *ngIf="popup" [style.left]="styleLeft" [style.top]="styleTop" [style.width.px]="width" [style.height.px]="height">
    {{ popup.message }}<br>
    <a href="javascript:;" (click)="hidePopup()">Close</a>
</div>
