<ng-container *ngIf="!config.showAllDaysAtOnce">

<!-- Это будет блок для десктопно-планщетной верстки -->
<div *ngIf="isMoreSmall()">
    <div> Блок для размера M (планшет+десктоп)</div>
    <!-- Фильтры -->
    <it7-ui-select
            *ngIf="filters.filtersByKey.types"
            [choices]="filters.filtersByKey.types.values"
            [(model)]="filters.filtersByKey.types.value"
            (modelChange)="applyFilter('types', $event)"
    ></it7-ui-select>
    <it7-ui-select
            [choices]="filters.filtersByKey.dates.values"
            [(model)]="filters.filtersByKey.dates.value"
            (modelChange)="applyFilter('dates', $event)"
    ></it7-ui-select>

    <!-- Переключалка дня -->
    <day-switch [showArrowText]="true" (onChange)="changeDayFilter($event)" [days]="filters.filtersByKey['dates'].values" [day]="filters.filtersByKey['dates'].value" [myAgendaActive]="myAgendaActive"></day-switch>

    <!-- Вкл/выкл Мою Агенду -->
    <div (click)="onMyAgendaClick()">My Agenda ({{ dm.selectedSessionsNumber }})</div>
    <div *ngIf="myAgendaActive">Моя агенда видна!</div>
    <div *ngIf="!myAgendaActive">Моя агенда скрыта!</div>
    <div *ngIf="myAgendaActive && config.isPaidSessions">Моя агенда видна, есть плагные сесии и тотал : {{ dm.totalCost }}!</div>

    <div *ngFor="let item of sessionList.items">
        <div *ngIf="item.visible">
        <span (click)="onExpandClick(item)">
            {{ item.original.name }} | {{ item.original.day }}
            <span *ngIf="item.original.isInAgenda ">Already in agenda</span>
            <span *ngIf="item.original.isInWaitingList ">Already in Waiting list</span>
        </span>
            <span *ngIf="item.original.isCanAdd" (click)="onAddClick(item)">[+]</span>
            <span *ngIf="item.original.isCanAddToWaitingList" (click)="onAddToWaitingListClick(item)">[+W]</span>
            <span *ngIf="item.original.isCanRemove" (click)="onRemoveClick(item)">[-]</span>
        </div>
        <div *ngIf="item.visible && item.expanded">Expanded - {{ item.original.name }}</div>
    </div>

    <br>
    <a *ngIf="config.downloadAllCalendarsUrl" href="{{ config.downloadAllCalendarsUrl }}">Download all calendars</a>
    <a *ngIf="config.downloadMyProgrammeUrl" href="{{ config.downloadMyProgrammeUrl }}">Download my programme</a>
</div>

<!-- Это будет блок для мобильной верстки -->
<div *ngIf="isSmall()">
    <div> Блок для размера S (мобила)</div>
    <!-- Фильтры -->
    <it7-ui-select
            *ngIf="filters.filtersByKey.types"
            [choices]="filters.filtersByKey.types.values"
            [(model)]="filters.filtersByKey.types.value"
            (modelChange)="applyFilter('types', $event)"
    ></it7-ui-select>
    <it7-ui-select
            [choices]="filters.filtersByKey.dates.values"
            [(model)]="filters.filtersByKey.dates.value"
            (modelChange)="applyFilter('dates', $event)"
    ></it7-ui-select>

    <!-- Вкл/выкл Мою Агенду -->
    <div (click)="onMyAgendaClick()">My Agenda ({{ dm.selectedSessionsNumber }})</div>

    <!-- Переключалка дня -->
    <day-switch (onChange)="changeDayFilter($event)" [days]="filters.filtersByKey['dates'].values" [day]="filters.filtersByKey['dates'].value" [myAgendaActive]="myAgendaActive"></day-switch>

    <my-agenda-connected-list [sessionList]="sessionList"></my-agenda-connected-list>

    <session-list [sortings]="sortings" [sessionList]="sessionList"></session-list>

    <br>
    <a *ngIf="config.downloadAllCalendarsUrl" href="{{ config.downloadAllCalendarsUrl }}">Download all calendars</a>
    <a *ngIf="config.downloadMyProgrammeUrl" href="{{ config.downloadMyProgrammeUrl }}">Download my programme</a>
</div>

</ng-container>

<ng-container *ngIf="config.showAllDaysAtOnce">
    <ng-container *ngFor="let day of days">
        <div *ngIf="day.visible">
            {{ day.name }}
            <ng-container *ngIf="day.first">
                <it7-ui-select
                        *ngIf="filters.filtersByKey.types"
                        [choices]="filters.filtersByKey.types.values"
                        [(model)]="filters.filtersByKey.types.value"
                        (modelChange)="applyFilter('types', $event)"
                ></it7-ui-select>
            </ng-container>
            <ng-container *ngFor="let item of day.sessionList.items">
                <div *ngIf="item.visible">
                    {{ item.original.name }}
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>

<div *ngIf="warningMessage">{{ warningMessage }}</div>

<message-popup [width]="300" [height]="100"></message-popup>
<busy-popup></busy-popup>