<it7-ui-select
        [choices]="filters.filtersByKey.types.values"
        [(model)]="filters.filtersByKey.types.value"
        (modelChange)="applyFilter('types', $event)"
></it7-ui-select>
<it7-ui-select
        [choices]="filters.filtersByKey.dates.values"
        [(model)]="filters.filtersByKey.dates.value"
        (modelChange)="applyFilter('dates', $event)"
></it7-ui-select>

<day-switch (onChange)="changeDayFilter($event)" [days]="filters.filtersByKey['dates'].values" [day]="filters.filtersByKey['dates'].value"></day-switch>

<session-list [sortings]="sortings" [sessionList]="sessionList"></session-list>
<my-agenda-connected-list [sessionList]="sessionList"></my-agenda-connected-list>

<div *ngIf="validationState.notEnoughSessionsInMyAgenda">You must choose more sessions</div>

<br>
<a *ngIf="config.downloadAllCalendarsUrl" href="{{ config.downloadAllCalendarsUrl }}">Download all calendars</a>
<a *ngIf="config.downloadMyProgrammeUrl" href="{{ config.downloadMyProgrammeUrl }}">Download my programme</a>

<busy-popup></busy-popup>