<h3>{{ 'Sessions' | translation }}</h3>
<!--<span (click)="onSortClick(sortings.sortingsByKey['name'])">Name <span *ngIf="sortings.sortingsByKey['name'].active">{{ sortings.sortingsByKey['name'].descending ? 'V' : '^' }}</span></span> |-->
<!--<span (click)="onSortClick(sortings.sortingsByKey['type'])">Type <span *ngIf="sortings.sortingsByKey['type'].active">{{ sortings.sortingsByKey['type'].descending ? 'V' : '^' }}</span></span>-->
<div *ngFor="let item of sessionList.items">
    <div *ngIf="item.visible">
        <span (click)="onExpandClick(item)">
            {{ item.original.name }} | {{ item.original.day }}
            <span *ngIf="item.original.isInAgenda ">Already in agenda</span>
            <span *ngIf="item.original.isInWaitingList ">Already in Waiting list</span>
        </span>
        <span *ngIf="item.original.isCanAdd" (click)="onAddClick(item)">[+]</span>
        <span *ngIf="item.original.isCanAddToWaitingList" (click)="onAddToWaitingListClick(item)">[+W]</span>
        <span *ngIf="item.original.isCanRemove" (click)="onRemoveClick(item)">[-]</span>
    </div>
    <div *ngIf="item.visible && item.expanded">Expanded - {{ item.original.name }}</div>
</div>